{% extends 'base.html' %}
{% block title %}{{ location }}{% endblock %}
{% block body %}
    <form class="form-inline">
        <div class="form-group">
            <select id="chart_type">
                <option value="online">Онлайн</option>
                <option value="offline">За указанный период</option>
            </select>
        </div>
        <div class="form-group">
            <label for="from">Начало</label>
            <input type="datetime-local" name="from" id="from" required disabled><br>
        </div>
        <div class="form-group">
            <label for="to">Конец</label>
            <input type="datetime-local" name="to" id="to" required disabled>
        </div>
        <div class="form-group">
             <input type="submit" value="Показать" id="chart_show_btn" disabled>
        </div>
    </form>

    <div id="chart-container"></div>

    <ul class="nav nav-tabs">
    {% for q in trend_qs %}
        <li role="presentation" {% ifequal cur_trend_num q.number %}class="active"{% endifequal %}>
            <a href="{% url 'sensors:graphic' location q.number %}">{{ q.number }}</a>
        </li>
    {% endfor %}
    </ul>

<table class="table table-bordered">
  <tr>
      <td style="width: 4em">#</td>
      <td style="width: 15em">Имя тренда</td>
      <td>Описание</td>
      <td style="width: 5em">Единицы измерения</td>
      <td style="width: 5em">Цвет</td>
  </tr>
  {% for sensor in sensors %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ sensor.name }}</td>
        <td>{{ sensor.description }}</td>
        <td>{{ sensor.egu }}</td>
        <td><input type="color" id="{{ forloop.counter }}" name="color{{ sensor.number }}" class="color" value="{{ sensor.color }}"></td>
    </tr>
    {% endfor %}
</table>

{% if user.is_active %}
    <a href="{% url 'sensors:edit' location trend %}" class="btn btn-default">Изменить</a>
{% endif %}
{% endblock %}

{% block javaScriptInclude %}
{% load static %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/get-highchart.js' %}"></script>
{% endblock %}
