{% extends 'base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<form class="form-inline"  method="post">
    {% csrf_token %}
    <div class="form-group">
         <label for="Username">Имя пользователя:</label>
         <input type="text" name="username">
    </div>
    <div class="form-group">
         <label for="Password">Пароль:</label>
        <input type="password" name="password">
    </div>
    <div class="form-group">
        <input type="submit" value="Войти">
    </div>

</form>
    {{ message }}
{% endblock %}