{% extends 'base.html' %}
{% block title %}Pasteurizer {{ pasteurizer }}{% endblock %}
{% load static %}
{% block static %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/get-highchart.js' %}"></script>
{% endblock %}

{% block body %}
    <form class="form-inline">
        <div class="form-group">
            <select id="chart_type">
                <option value="online">Онлайн</option>
                <option value="offline">За указанный период</option>
            </select>
        </div>
        <div class="form-group">
            <label for="from">Начало</label>
            <input type="datetime-local" name="from" id="from" required disabled><br>
        </div>
        <div class="form-group">
            <label for="to">Конец</label>
            <input type="datetime-local" name="to" id="to" required disabled>
        </div>
        <div class="form-group">
             <input type="submit" value="Показать" id="chart_show_btn" disabled>
        </div>
    </form>

    <div id="chart-container"></div>

<ul class="nav nav-tabs">
    {% for q in trend_qs %}
        <li role="presentation" {% ifequal trend q.number %}class="active"{% endifequal %}><a href="{% url 'pasteurizer' pasteurizer q.number %}">{{ q.number }}</a></li>
    {% endfor %}
</ul>

<table class="table table-bordered">
  <tr>
      <td style="width: 4em">#</td>
      <td style="width: 15em">Имя тренда</td>
      <td>Описание</td>
      <td style="width: 5em">Цвет</td>
  </tr>
  {% for trend in trends %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ trend.name }}</td>
        <td>{{ trend.description }}</td>
        <td><input type="color" name="color{{ forloop.counter }}" class="color" value="{{ trend.color }}"></td>
    </tr>
    {% endfor %}
</table>

{% if user.is_active %}
    <a href="{% url 'trend_edit' pasteurizer trend %}" class="btn btn-default">Изменить</a>
{% endif %}
{% endblock %}
