{% extends 'base.html' %}
{% block title %}Pasteurizer {{ pasteurizer }}{% endblock %}
{% load static %}
{% block static %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/highcharts.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/get-highchart.js' %}"></script>
{% endblock %}

{% block body %}
    <form class="form-inline">
        <div class="form-group">
            <select id="chart_type">
                <option value="online">Онлайн</option>
                <option value="offline">За указанный период</option>
            </select>
        </div>
        <div class="form-group">
            <label for="from">Начало</label>
            <input type="datetime-local" name="from" id="from" required disabled><br>
        </div>
        <div class="form-group">
            <label for="to">Конец</label>
            <input type="datetime-local" name="to" id="to" required disabled>
        </div>
        <div class="form-group">
             <input type="submit" value="Показать" id="chart_show_btn" disabled>
        </div>
    </form>

    <div id="chart-container"></div>

<ul class="nav nav-tabs">
    {% for q in trend_qs %}
        <li role="presentation" {% ifequal trend q.number %}class="active"{% endifequal %}><a href="{% url 'pasteurizer' pasteurizer q.number %}">{{ q.number }}</a></li>
    {% endfor %}
</ul>


<table class="table table-bordered">
  <tr>
      <td style="width: 4em">#</td>
      <td style="width: 15em">Имя тренда</td>
      <td>Описание</td>
      <td style="width: 5em">Цвет</td>
  </tr>
  <tr>
      {% if object.trend1 %}
          <td>1</td>
          <td>{{ object.trend1.name }}</td>
          <td>{{ object.trend1.description }}</td>
          <td><input type="color" name="color1" class="color" value="{{ object.color1 }}"></td>
      {% endif %}
  </tr>
  <tr>
      {% if object.trend2 %}
          <td>2</td>
          <td>{{ object.trend2.name }}</td>
          <td>{{ object.trend2.description }}</td>
          <td><input type="color" name="color2" class="color" value="{{ object.color2 }}"></td>
      {% endif %}
  </tr>
  <tr>
      {% if object.trend3 %}
          <td>3</td>
          <td>{{ object.trend3.name }}</td>
          <td>{{ object.trend3.description }}</td>
          <td><input type="color" name="color3" class="color" value="{{ object.color3 }}"></td>
      {% endif %}
  </tr>
  <tr>
      {% if object.trend4 %}
          <td>4</td>
          <td>{{ object.trend4.name }}</td>
          <td>{{ object.trend4.description }}</td>
          <td><input type="color" name="color4" class="color" value="{{ object.color4 }}"></td>
      {% endif %}
  </tr>
  <tr>
      {% if object.trend5 %}
          <td>5</td>
          <td>{{ object.trend5.name }}</td>
          <td>{{ object.trend5.description }}</td>
          <td><input type="color" name="color5" class="color" value="{{ object.color5 }}"></td>
      {% endif %}
  </tr>
  <tr>
      {% if object.trend6 %}
          <td>6</td>
          <td>{{ object.trend6.name }}</td>
          <td>{{ object.trend6.description }}</td>
          <td><input type="color" name="color6" class="color" value="{{ object.color6 }}"></td>
      {% endif %}
  </tr>
  <tr>
      {% if object.trend7 %}
          <td>7</td>
          <td>{{ object.trend7.name }}</td>
          <td>{{ object.trend7.description }}</td>
          <td><input type="color" name="color7" class="color" value="{{ object.color7 }}"></td>
      {% endif %}
  </tr>
  <tr>
      {% if object.trend8 %}
          <td>8</td>
          <td>{{ object.trend8.name }}</td>
          <td>{{ object.trend8.description }}</td>
          <td><input type="color" name="color8" class="color" value="{{ object.color8 }}"></td>
      {% endif %}
  </tr>
</table>
    {% if user.is_active %}
        <a href="{% url 'trend_edit' pasteurizer trend %}" class="btn btn-default">Изменить</a>
    {% endif %}
{% endblock %}
